@import "../../styles/_breackpoints"

.menu
    $root: &
    position: fixed
    top: 0
    bottom: 0
    right: 100%
    width: 300px
    background-color: #fff
    transition: all .3s
    z-index: 11
    padding: 20px 15px
    &.shown
        transform: translate(100%, 0)
    &__burger
        margin-bottom: 35px
    &__title
        font-size: 1.25rem
        font-weight: 700
    &__list
        list-style: none
        padding: 0
        display: inline-block
    &__item
        margin-bottom: 12px
        border-bottom: 1px solid #000
        padding-bottom: 4px
        &:last-of-type
            margin-bottom: 0
            border-bottom: none
    &__checkbox-wrap
        display: flex
        justify-content: space-between
        align-items: center
        & span
            display: inline-block
            padding-right: 10px
        & input
            cursor: pointer
            opacity: 0
            cursor: pointer
            height: 0
            width: 0
            &:checked ~
                #{$root}__checkmark
                    background-color: #FF8C00
                    &::after
                        display: block

    &__checkmark
        position: relative
        height: 20px
        width: 20px
        background-color: #D9D9D9
        transition: all .3s
        &:hover
            background-color: #bbb
        &::after
            content: ""
            position: absolute
            display: none
            top: 50%
            left: 50%
            transform: translate(-50%, -50%) translate(0, -2px) rotate(45deg)
            width: 5px
            height: 10px
            border: solid white
            border-width: 0 3px 3px 0

@media screen and (max-width: $container_sm)
    .menu
        width: 200px
