@import "../../styles/_breackpoints"

.start-btn
    $root: &
    margin: 0
    padding: 0
    background: none
    border: none
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    cursor: pointer
    & &__icon
        height: 150px
        width: 160px
        margin-bottom: 10px
    &__text
        font-size: 1.8rem
        font-weight: 700
        margin: 0
    &.loading
        #{$root}__icon
            animation: rotate 2s infinite linear
    &.waiting
        &:hover
            #{$root}__icon
                transform: rotate(180deg)

@media screen and (max-width: $container_sm)
    .start-btn
        & &__icon
            height: 100px
            width: 100px
        &__text
            font-size: 1.4rem

@keyframes rotate
    0%
        transform: rotate(0)
    100%
        transform: rotate(360deg)
