@import "../../styles/_breackpoints"
    
$margin: 8px

.field-list
    list-style-type: none
    padding: 0
    margin: -$margin
    display: flex
    flex-wrap: wrap
    &__item
        margin: $margin
        min-width: calc( (100% / 3) - (2 * $margin) )
        flex: 1

@media screen and (max-width: $container_md)
    .field-list
        &__item
            min-width: calc(50% - (2 * $margin))

@media screen and (max-width: $container_sm)
    .field-list
        display: block
        margin: 0
        &__item
            margin: $margin * 2 0
            min-width: auto
