@import "./styles/container"
@import "./styles/svg-icons"
@import "./styles/fonts.css"

.app
    display: flex
    flex-direction: column
    min-height: 100vh
    font-size: 18px
    font-family: 'Roboto', 'Geneva', 'Arial', 'Helvetica', sans-serif
    & main
        flex: 1
        position: relative

header, footer
    padding: 20px 15px
    background-color: #ebebeb

section
    margin: 20px 0
