$padding: 7px

.custom-btn
    font-weight: 700
    font-size: 1.1rem
    border: none
    background-color: #fff
    border-radius: $padding * 2
    padding: 0 $padding
    box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 75%)
    cursor: pointer
    display: inline-block
    height: 37px
    transition: all .3s
    // &--icon-rotate
    //     $root: &
    //     &:hover
    //         .svg-icon
    //             transform: rotate(180deg)
    // &--icon-scale
    //     $root: &
    //     &:hover
    //         .svg-icon
    //             transform: scale(1.02)
    &:hover
        background-color: #efefef
    & svg
        height: 20px
        width: 20px
        margin: 0 3px 0 5px
    &__inner-wrap
        display: flex
        align-items: center
        height: 100%
        & > *
            display: inline-block
            line-height: 1
