$padding: 12px

.custom-btn
    font-weight: 700
    font-size: 1.1rem
    border: none
    background-color: #d9d9d9
    padding: 0 $padding
    cursor: pointer
    display: inline-block
    height: calc(37px + $padding)
    transition: all .3s
    &:hover
        background-color: #bbb
    & svg
        height: 20px
        width: 20px
        margin: 0 3px 0 5px
    &__inner-wrap
        display: flex
        align-items: center
        height: 100%
        & > *
            display: inline-block
            line-height: 1
